<h2> Take a visit</h2>
<p> Our adress </p>

<form action="/visit" method="POST">
  <div class="form-group">
    <label>Your name</label>
    <input name="username" type="text" class="form-control" placeholder="Your name">
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>